.product-img:hover>.ract {
    top: 80%;
    transition: all 0.4s;
}

.translate:hover>.option {
    top: 30px;
    opacity: 1;
    transition: all 0.4s;
}

/* Define scrollbar track */
::-webkit-scrollbar {
    width: 10px;
}

/* Define scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #7FAD39;
    border-radius: 5px;
}

/* Optional: define scrollbar track when hovered */
::-webkit-scrollbar-track:hover {
    background: #cbd5e0;
}

.login-page {
    position: relative;
    right: -120%;
    transition: right 0.4s;
}

.active-login-page {
    right: 4%;
    transition: right 0.4s;
}

#hambuger-icon {
    display: none;
}

.banner-bg{
    background: url('../images/hero/banner.jpg');
    background-size: cover;
    background-position: center;
}

.active-nav {
    right: -5%;
    transition: all 0.5s;
}

@media (max-width:1000px) {
    #hambuger-icon {
        display: block;
    }

    nav {


        position: absolute;
        top: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        height: 100vh;
        width: 100%;
        z-index: 9;
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        right: -100%;
        transition: all 0.5s;

    }

}

@media (max-width:800px) {
    .top-part {
        flex-direction: column;
        gap: 10px;
    }

}